/* Global styles */
* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  outline: none;
  border: 1px solid #cccccc;
}

input:focus {
  outline: 1px solid #00a2b7;
}

svg {
  fill: #333333;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100vh;
}

.inner {
  width: 450px;
  margin: 100px 10px 0 10px;
}

.search-wrapper,
.search-field {
  position: relative;
}

.loading-state {
  width: 100%;
  height: 3px;
  position: absolute;
  overflow: hidden;
}

.loading-state::before {
  content: '';
  display: block;
  height: 5px;
  background: #00a2b7;
  animation: loading infinite 1.5s ease;
}

.error {
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}

@keyframes loading {
  0% {
    width: 25px;
    transform: translateX(0);
  }

  100% {
    width: 200px;
    transform: translateX(300%);
  }
}

/* App title */
.app-title {
  text-align: center;
}

.app-title h1 {
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.app-title .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

/* Search styles */
.search {
  padding: 20px;
  font-size: 18px;
  width: 100%;
  font-weight: 300;
}

.clear {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 8px;
  height: 100%;
  width: 40px;
  background: none;
  border: none;
}

.clear span {
  visibility: hidden;
}

/* Suggestion styles */
.suggestions {
  position: absolute;
  top: 62px;
  background: white;
  width: 100%;
  z-index: 1;
  border: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-top: none;
  max-height: 400px;
  overflow: auto;
}

.suggestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  display: flex;
  flex-direction: row;
}

.suggestions img {
  margin-right: 10px;
}

.suggestions button {
  background-color: #ffffff;
  text-decoration: none;
  text-align: left;
  border: none;
  display: block;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #222222;
  background: #ffffff;
  transition: background .3s ease;
}

.suggestions .avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid #cccccc;
  vertical-align: middle;
}

.no-items {
  padding: 12px 20px;
  text-align: center;
}

.suggestions button:hover,
.suggestions button:focus {
  outline: none;
  background: #ebebeb;
}

/* User styles */
.user-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
  transition: color .3s ease;
}

.user-info a:hover {
  color: #777777;
}

.user-image {
  border-radius: 50%;
  max-width: 100px;
  border: 1px solid #cccccc;
}

.user-data {
  margin-left: 20px;
}

.user-data span {
  line-height: 26px;
}

.user-data .name {
  font-weight: 700;
}

.user-data span {
  display: block;
}

.image-wrapper {
  position: relative;
}
